<%= form_for(setup_topic(@topic)) do |f| %>
  <div class="new_contact">
    <% if @topic.errors.any? %>
      <div id="error_explanation">
        <h2><a>
          <%= pluralize(@topic.errors.count, "error") %>
          prohibited this topic from being saved:
        </a></h2>
        <ul>
        <% @topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <legend><a>Topic</a></legend>
    <div class="field">
      <%= f.text_field :topic %>
    </div>
  </div>

  <div class="new_contact">
    <legend><a>Rss Link</a></legend>
    <%= f.fields_for :rsses do |ff| %>
      <div>
        <%= ff.text_field :link %>
        <% if ff.object.persisted? %>
          <p style="display: inline-block">
            <%= ff.check_box :_destroy %>
          </p>
          <p style="display: inline-block">
            <%= ff.label :_destroy, "Delete Link" %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-middle" %>
  </div>
<% end %>
