<% provide(:title, 'RSS Topics') %>
<% @topics.each do |topic| %>
  <% all_news = "" %>
  <% topic.get_all_topic_rss.each do |news| %>
    <% new = "<a href= #{news[:title_link]}>" +
                news[:title] +
             "</a>" + "<br />" %>
    <% all_news += new.html_safe %>
  <% end %>
  <div class="news">
    <legend class="index_class">
      <%= link_to topic.topic, topic %>
      <% if topic.tags.any? %>
        <% topic.tags.each do |tag| %>
          <small class="tag_style">
            <%= link_to tag.name, tag %>
          </small>
        <% end %>
      <% end %>
   </legend>
    <div class="new_contact">
      <marquee class="marquee_box" scrollamount="0.5"  direction="up">
        <%= all_news.html_safe %>
      </marquee> 
    </div>
    <%= link_to 'Show', topic %> |
    <%= link_to 'Edit', edit_topic_path(topic) %>
  </div>
<% end %>
