<% provide(:title, @topic.topic) %>
<% @all_topic_rss_feeds.each do |new| %>
  <div class="news">
    <legend>
      <a href="<%= new[:title_link] %>">
        <%= new[:title]%>
      </a>
    </legend>
    <% unless new[:contact].blank? %>
      <div class="new_contact">
        <%= new[:contact] %>
      </div>
    <% end %>
    <small style="float: left;">
      <a href="<%= new[:link] %>">
        <%= new[:link] %>
      </a>
    </small>
    <small style="float: right;"><a><%= new[:date] %></a></small>
  </div>
<% end %>
