<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @rss_feed.content %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @rss_feed.topic_id %>
</p>

<%= link_to 'Edit', edit_rss_feed_path(@rss_feed) %> |
<%= link_to 'Back', rss_feeds_path %>
