<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li>
          <a id="header_logo" href="/"><b>R</b>ead <b>S</b>ome <b>S</b>tuff</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="header_link">
          <%= link_to 'All Topics', root_path %>
        </li>
        <li class="header_link">
          <%= link_to 'New Topic', new_topic_path %>
        </li>
        <li class="header_link">
          <%= link_to 'Tags', tags_path %>
        </li>
        <%= form_tag("/search", :method => "get",
          :class =>"navbar-search pull-right") do %>
          <div class="input-append">
            <%= text_field_tag :query, nil, :class => "span2 search-query",
              :placeholder => "let me look up" %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
